.pagination {
    display: inline-block;
}
  
.pagination a {
    border: 1px solid #13dafe;
    background-color: #13dafe;
    color: #fff !important;
    box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.2em 0.2em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        border-radius: 2px;
}
  
.pagination strong {
    border: 1px solid #13dafe;
    background-color: #13dafe;
    color: #fff !important;
    box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.4em 0.4em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      border-radius: 2px;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}
  